
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(190, 224, 243);
    font-family: serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(238, 160, 218);
    border: 2px solid black;
    width: 500px;
    height: 700px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    font-size: 48px;
    flex-wrap: wrap;
}

.display {
    width: 400px;
    height: 80px;
    border: 2px solid black;
    background-color: white;
}

.buttons {
    
}

button {
    font-size: 36px;
    border: 2px solid black;
}

.row1 button {
    background-color: purple;
}

.row2 button {
    background-color: blue;
}

.row3 button {
    background-color: green;
}

.row4 button {
    background-color: yellow;
}

.row5 button {
    background-color: red;
}

#add,
#subtract,
#multiply,
#divide {
    background-color: orange
}
